.drug-page{
    background-color: white;
    padding: 10px;
}

.drug-page h1{
    padding-bottom: 10px;
}

/* description component*/

.drug-page-desc{
    padding-right: 10px;
}

/*list component*/
.drug-page-list ul{
    padding-right: 5px;
}